/* CSS Reset * { */

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}


.hero-container {
    background-image: url(../Images/explore.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    /* color: white; */
    padding: 30px 100px;
}

/* Header & Navigation Styles  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>a {
    font-size: 28px;
    font-weight: 700px;
    color: white;
    text-decoration: none;
}

.nav>.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav.nav-links>li>a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn {
    background-color: white;
    color: #3E86F5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
}

/* Hero section styles */
.hero-content {
    text-align: center;
    max-width: 800px;
    margin: 120ox auto 0;
    border: 12px;
    color: white;
}

.hero-content h1 {
    font-size: 64px;
}

.hero-content p {
    font-size: 24px;
    line-height: 200px;
    margin-top: 40px;
}

/* Booking Section Styles */
.booking-container {
    /* border: 1px solid blue;
    max-width: 1100px;
    /* position: absolute; */
    /* width: 80px;
    background-color: aqua;
    left: 50px; */
}

/* special offers styles */
.special-offers {
    margin: 100px 0px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: F4795A;
}

.special-offers h2 {
    font-size: 48px;
    font-weight: 700px;
    margin-bottom: 30px;
}

.top-offers-tab {
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0 0 0 0 .5);

}

.offer-btn {
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
    color: #777;
}

.offer-btn-active {
    background-color: #3E86F5;
    color: #fff;
    box-shadow: o 4px 10px rgba(77, 150, 255, 0.3);
}

/* Bottom offers Grid Styles  */
.bottom-offers {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-card {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px 34px 16px 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card-img-container {
    position: relative;
}

.offer-card-img {
    width: 100%;
}

/* :vertical Date styling  */
.card-date {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: -25px;
    writing-mode: vertical-rl;
    /* transform: rotate(180deg); */
    color: #8895A7;
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 8px;
}

.card-content {
    padding: 20px 10px 1opx;
}

.card-info-top {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
}

.tag {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500px;
}

.tag-relax {
    background-color: #d10e6c;
    color:
}

.tag-adventure {
    background-color: #DFF4FF;
    color: #7879F1;
}

.duration {
    color: #8895A7;
    font-size: 14px;
}

.card-subtitle {
    font-size: 22px;
    font-weight: 600px;
    color: #1e2a3b;
    padding: 10px 0px;
}

.card-info-bottom {
    display: flex;
    jusmtify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: 700px;
    color: #3E86F5;
}

.price span {
    font-size: 16px;
    font-weight: 400px;
    color: #8895A7;
}

.book-btn {
    text-decoration: none;
    color: #3E86F5;
    background-color: #F2F6FF;
    padding: 10px 20px;
    border-radius: 14px;
    font-weight: 500px;
}

.book-btn:hover {
    background-color: #e1e9fa;
}

/* Travel section styles */
.travel-section {
    margin: 100px 0px;
}

.travel-section>.container {
    display: flex;
}

.text-column {
    padding-left: 60px;
}

.travel-image-column
.text-column h2 {
    font-size: 48px;
    font-weight: 700px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.2;
}

.text-column p {
    font: 2opx;
    color: #555;
    margin-bottom: 20px;
}

.contact-btn {
    display: inline-block;
    background-color: #3E86F5;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600px;
}

.contact-btn:hover {
    background-color: #052357;
}


.stat-box {
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.stat-number {
    font-size: 1.4cm;
    font-weight: 700px;
    color: #007bff;
}
stat-label {
    font-size: 0.8cm;
    text-transform: uppercase;
    color: #666;
}

.top-right {
    top: 20px;
    right: -50px;
}
.bottom-left {
    top: 50px;
    left: -70px;
    transform: translateY() ;
}